.domain{
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
}

.eeg-browser {
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
}
.region-select {
  flex: 1;
}

.region-item {
  cursor: pointer;
  margin: 10px 10px;
}

.region-color-code {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

.expand-bar {
  display: -ms-flexbox;
  display: flex;

  flex: 1;
  min-width: 20px;
  max-width: 20px;
  margin-left: 15px;
  background-color: #888;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.expand-bar:hover {
  background-color: #aaa;
}

.expand-bar-icon {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.mri-view-container {
  flex: 2;
  align-items: center;
}

.signal-plots-container {
  display: -ms-flexbox;
  display: flex;

  flex: 3;
  max-height: 800px;
  flex-direction: column;
}

.signal-plots-toolbar {
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

.signal-plots-toolbar-layer {
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  min-height: 40px;
  max-height: 40px;
  align-items: center;
  justify-content: space-between;
}

.signal-plots-buttons {
  display: -ms-flexbox;
  display: flex;
  flex: 1;
  flex-direction: row;
}

.signal-plots-button {
  background-color: #064785;
  color: #fff;
  height: 30px;
  padding: 5px 5px;
  margin: 0 15px;
  border-radius: 5px;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.signal-plots-filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.signal-filter-dropdown {
  margin: 0 10px;
}

.signal-plots-button.disabled {
  background-color: #aaaaaa;
  color: #fff;
  height: 30px;
  padding: 5px 5px;
  margin: 0 15px;
  border-radius: 5px;
  cursor: not-allowed;
}

.signal-plots-group-number {
  padding: 5px 5px;
}

.signal-plots {
  display: -ms-flexbox;
  display: flex;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  flex: 1;
  flex-direction: column;
  overflow-y: scroll;
  font-size: 0;
  padding-bottom: 30px;
}

.signal-plot-item {
  font-size: 1.3rem;
  width: 100%;
}

.plot-scale-button {
  font-family: sans-serif;
  font-weight: 1000;
}
