.domain {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
}

.eeg-browser {
  display: -ms-flexbox;
  display: flex;

  flex-direction: column;
}

.eeg-browser-row {
  display: -ms-flexbox;
  display: flex;

  flex-direction: row;
}

.region-select {
  flex: 1;
}

.region-select-list {
  margin-top: 10px;
  padding: 5px 10px;
  flex: 1;
  list-style: none;
}

.region-select-item {
  cursor: pointer;
  margin: 10px 10px;
}

.region-select-item:hover {
  text-decoration: underline;
}

.region-color-code {
  display: inline-block;

  width: 10px;
  height: 10px;
  margin-right: 10px;
}

.panel {
  width: 100%;
}

.form-control {
  max-width: 300px;
}

.selection-filter-tags {
  margin: 10px 0;
  font-weight: bold;
}

.tag-remove-button {
  cursor: pointer;
  margin-left: 5px;
  padding-left: 5px;
  border-left: #999 solid 1px
}
.selection-filter-tag {
  display: inline-block;
  margin: 2px 5px;
  padding: 5px 10px;
  color: #fff;
  background-color: #004881;
  border-radius: 5px;
}

.expand-bar {
  display: -ms-flexbox;
  display: flex;

  flex: 1;
  min-width: 20px;
  max-width: 20px;
  margin-left: 15px;
  background-color: #888;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.expand-bar:hover {
  background-color: #aaa;
}

.expand-bar-icon {
  display: -ms-flexbox;
  display: flex;

  color: #fff;
}

.mri-view-container {
  flex: 2;
  align-items: center;
}

.signal-plots-container {
  display: -ms-flexbox;
  display: flex;

  flex: 3;
  max-height: 800px;
  flex-direction: column;
}

.toolbar {
  display: -ms-flexbox;
  display: flex;

  flex-direction: column;
}

.toolbar-layer {
  display: -ms-flexbox;
  display: flex;

  flex-direction: row;
  min-height: 40px;
  max-height: 40px;
  align-items: center;
  justify-content: space-between;
}

.toolbar-buttons {
  display: -ms-flexbox;
  display: flex;

  flex: 1;
  flex-direction: row;
}

.round-button {
  background-color: #064785;
  color: #fff;
  height: 30px;
  padding: 5px 5px;
  margin: 0 15px;
  border-radius: 5px;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.round-button.disabled {
  background-color: #aaaaaa;
  cursor: not-allowed;
}

.signal-plots-filters {
  display: -ms-flexbox;
  display: flex;

  flex-direction: row;
  justify-content: space-between;
}

.signal-filter-dropdown {
  margin: 0 10px;
}


.signal-plots-group-number {
  padding: 5px 5px;
}

.signal-plots {
  display: -ms-flexbox;
  display: flex;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  flex: 1;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 0;
  padding-bottom: 30px;
}

.signal-plot-item {
  font-size: 1.3rem;
  width: 100%;
}

.plot-scale-button {
  font-family: sans-serif;
  font-weight: 1000;
}
